body {
    background-color: #4F6D93;
    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px  #333333;
}
header {
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000033;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
    padding-top: 15px;
}
h1 {
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}
h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}
nav {
    /*background-color: #FFFFFF;*/
    font-weight: bold;
    text-decoration: none;
    /*text-align: center;*/
    padding: 20px;
    float: left;
    width: 160px;
}
nav a {
    text-decoration: none;    
}
nav a:link {
    color: #000033;
}
nav a:visited {
    color: #344873;
}
nav a:hover {
    color: #FFFFFF;
}
nav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}
main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 190px;
    padding-left: 30px;
    list-style-image: url(images/marker.gif)
}
main ul {
    list-style-type: disc;
}
.resort {
    color: #5C7FA3;
    font-weight: bold;
}
#contact{
    font-size: 90%;
}
footer {
    text-align: center;
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
    background-color: #FFFFFF;
    margin-left: 190px;
}
#homehero {
    height: 300px; 
    background-image: url(images/coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

#yurthero {
    height: 300px; 
    background-image: url(images/yurthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

#trailhero {
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
