body {
    background-color: #4F6D93;
    color: #666666;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #ffffff, #4F6D93);
    background-repeat: no-repeat;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    background-image: url(images/sunset.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

nav {
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    float: left;
    width: 160px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}


nav a {
    text-decoration: none;
}

nav a:link{
    color:#000033;
}

nav a:visited{
    color: #344873;
}
nav a:hover{
color: #ffffff;    
}

h2 {
    color: #3399CC;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3 {
    color: #000033;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.resort {
    color: #5c7fa3;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

h1 {
    margin-bottom: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-top: 0;
}

main ul{
    list-style-image: url(images/marker.gif);
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 20px;
    margin-left: 190px;
    background-color: #FFFFFF;
}

#wrapper {
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}

#homehero {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(images/coasthero.jpg);
    margin-left: 190px;
}

#yurthero {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(images/yurthero.jpg);
    margin-left: 190px;
}

#trailhero {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(images/trailhero.jpg);
    margin-left: 190px;
}

main{
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #FFFFFF;
    margin-left: 190px;
    padding-left: 30px;
}