body {
    background-color: #4F6D93;
    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000033;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
    padding-top: 15px;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: none;
}



main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 190px;
    padding-left: 30px;
    list-style-image: url(images/marker.gif)
}

main ul {
    list-style-type: disc;
}

nav {
    /*background-color: #FFFFFF;*/
    font-weight: bold;
    text-decoration: none;
    /*text-align: center;*/
    padding: 20px;
    float: left;
    width: 160px;
}

nav a {
    text-decoration: none;    
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

#homehero {
    height: 200px; 
    background-image: url(images/coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

#yurtshero {
    height: 200px; 
    background-image: url(images/yurtshero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

#trailhero {
    height: 200px;
    background-image: url(images/trailhero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

#contact{
    font-size: 90%;
}

footer {
    text-align: center;
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
    background-color: #FFFFFF;
    margin-left: 190px;
}

header, main, nav, footer, section, article, figure, figcaption, aside {
    display: block;
}

table {
    border:  1px solid #3399CC; width:80%; border-spacing: 0px;
}

td, th {
    border:  1px solid #3399CC;
    padding: 5px;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

@media only screen and (max-width: 64em) {
    body {
        background-color: #FFFFFF;
        margin: 0px;
    }
    
    #wrapper {
        min-width: 0px;
        width: auto;
        box-shadow: none;
    }
    
    main {
        margin-left: 0px;
    }
    nav {
        float: none;
	    width: auto;
	    text-align: center;
	    padding: 0.5em;
    }
    
    nav li {
	    display: inline-block;
	    padding: 0.25em 0.75em 0.25em 0.75em;
	}
    
    #homehero {
        height: 200px;
        margin-left: 0px;
    }
    
    #yurtshero {
        height: 200px;
        margin-left: 0px;
    }
    
    #trailhero {
        height: 200px;
        margin-left: 0px;
    }
    
    footer {
        margin-left: 0px
    }
}

@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em
    }
    
    main {
        margin-left: 0px;
	    margin-right: 0px;
	    padding: 0.1em 1em 0.1em 1em;
	    font-size: 90%;
    }
    
    h1 {
        font-size: 1.5em
    }
    
    nav {
        padding: 0px;
    }
    
    nav li {
        display: block;
	    margin: 0px;
	    border-bottom: 2px solid #330000;
    }
    
    #homehero {
        background-image: none;
        height: 0px;
    }
    
    #yurtshero {
        background-image: none;
        height: 0px;
    }
    
    trailhero {
        background-image: none;
        height: 0px;
    }
    
    
}