    header,
    main,
    nav,
    footer,
    figure,
    figcaption,
    aside,
    section,
    article {
        display: block;
    }
    
    #mobile {
        display: none;
    }
    
    #desktop {
        display: inline;
    }
    
    body {
        background-color: #4F6D93;
        background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
        color: #666666;
        font-family: sans-serif;
    }
    
    header {
        background-color: #000033;
        background-image: url(images/sunset.jpg);
        background-position: right;
        background-repeat: no-repeat;
        color: #FFFFFF;
        height: 60px;
        padding-top: 15px;
        text-align: center;
    }
    
    nav {
        font-weight: bold;
        padding: 20px;
        float: left;
        width: 160px;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        font-size: 1.2em;
    }
    
    nav a {
        text-decoration: none;
        transition: color 3s ease-out;
    }
    
    nav a:link {
        color: #000033;
    }
    
    nav a:visited {
        color: #344873;
    }
    
    nav a:hover {
        color: #FFFFFF;
    }
    
    h2 {
        color: #3399CC;
        font-family: serif;
        text-shadow: 1px 1px 1px #CCCCCC;
    }
    
    h3 {
        color: #000033;
        font-family: serif;
    }
    
    .resort {
        color: #5C7FA3;
        font-weight: bold;
    }
    
    h1 {
        font-family: serif;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    main ul {
        list-style-image: url(images/marker.gif);
    }
    
    footer {
        font-family: serif;
        font-size: 75%;
        font-style: italic;
        padding: 20px;
        text-align: center;
        margin-left: 190px;
        background-color: #FFFFFF;
        float: none;
    }
    
    #contact {
        font-size: 90%;
    }
    
    #wrapper {
        background-color: #90C7E3;
        box-shadow: 3px 3px 3px #333333;
        margin-left: auto;
        margin-right: auto;
        max-width: 2048px;
        min-width: 960px;
        width: 80%;
    }
    
    main {
        display: block;
        padding: 1px 20px 20px 30px;
        background-color: #FFFFFF;
        margin-left: 190px;
    }
    
    #homehero {
        background-image: url(images/coasthero.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;
        margin-left: 190px;
    }
    
    #yurthero {
        background-image: url(images/yurthero.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;
        margin-left: 190px;
    }
    
    #trailhero {
        background-image: url(images/trailhero.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;
        margin-left: 190px;
    }
    
    table {
        border: 1px solid #3399CC;
        width: 80%;
        border-spacing: 0;
    }
    
    td {
        padding: 5px;
        border: 1px solid #3399CC;
        text-align: center;
    }
    
    th {
        padding: 5px;
        border: 1px solid #3399CC;
    }
    
    .text {
        text-align: left;
    }
    
    tr:nth-of-type(odd) {
        background-color: #F5FAFC;
    }
    
    label {
        float: left;
        display: block;
        text-align: right;
        width: 120px;
        padding-right: 15px;
    }
    
    input,
    textarea {
        display: block;
        margin-bottom: 20px;
    }
    
    submit button {
        margin-left: 130px;
    }
    
    video,
    embed {
        float: right;
        padding-left: 20px;
    }
    
    #gallery {
        height: 200px;
        text-align: left;
        color: cornflowerblue;
        position: relative;
    }
    
    #gallery ul {
        width: 300px;
        list-style: none;
    }
    
    #gallery li {
        display: inline;
        float: left;
        padding: 10px;
    }

#gallery img {
    border: none;
}

#gallery a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

#gallery span {
    position: absolute;
    left: -10000px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#gallery a:hover span {
    position: absolute;
    top: 16px;
    left: 320px;
    text-align: center;
    opacity: 1;
}
    /* Media Queries */
    
    @media only screen and (max-width: 64em) {
        body {
            margin: 0;
            background-color: #FFFFFF;
        }
        #wrapper {
            min-width: 0;
            width: auto;
            box-shadow: none;
        }
        main {
            margin-left: 0;
        }
        nav {
            float: none;
            width: auto;
            text-align: center;
            padding: 0.5em;
        }
        nav li {
            display: inline;
            padding: 0.25em 0.75em 0.25em 0.75em;
        }
        #homehero {
            margin-left: 0;
        }
        #yurthero {
            margin-left: 0;
        }
        #trailhero {
            margin-left: 0;
        }
        footer {
            margin-left: 0;
        }
    }
    
    @media only screen and (max-width: 37.5em) {
        #header {
            padding-top: 1em;
        }
        main {
            padding: 0.1em 1em 0.1em 1em;
            font-size: 90%;
        }
        h1 {
            font-size: 1.5em;
        }
        nav {
            padding: 0;
        }
        nav li {
            display: block;
            margin: 0;
            border-bottom: 2px solid #330000;
        }
        #homehero,
        #yurthero,
        #trailhero {
            background-image: none;
            height: 0;
        }
        #mobile {
            display: inline;
        }
        #desktop {
            display: none;
        }
        label {
            float: none;
            text-align: left;
        }
        input[type="submit"] {
            margin-left: 0;
        }
        
        #gallery {
            display: none;
        }
    }