body{
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
}

#homehero {
    height: 300px;
    background-image: url("coasthero.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#yurtshero {
    height: 300px;
    background-image: url("yurtshero.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#trailhero {
    height: 300px;
    background-image: url("hikinghero.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main{
    margin-top: 1px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
}

nav{
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
#header2 {
    color: #1B6AAF;
    text-shadow: 1px 1px 1px #CCCCCC;
}

#header1{
    color: #1B6AAF;
    background-color:#00002c;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 0px;
    box-shadow: 3px 3px 3px #333333;
    text-align: center;
    
}
#wrapper {
    width: 80%;
    max-width: 2048px;
    min-width: 960px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;    
}

footer {
    padding: 20px;
    text-align: center;
}





